pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": "10"
				}
			},
			{
				"name": "Set breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": "30"
				}
			},
			{
				"name": "Set Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@{mul(\n    int(variables('Length'))\n    ,int(variables('Breadth'))\n    )\n    }\n ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Length": {
				"type": "String"
			},
			"Breadth": {
				"type": "String"
			},
			"Area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipeline Activities/Data Movement Activities/Set Variable"
		},
		"annotations": []
	}
}